.maindiv{
    max-width: 600px;
    margin: auto;
    margin-top: 75px;
    background-color: rgb(205, 188, 188);
    padding-top: 10px;
    position: relative;
    padding-bottom: 30px;
}
.head{
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-bottom: 25px;   
}
.input{
    width: 475px;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
}

.addbtn{
    width: 70px;
    height:30px;
    border-radius: 5px;
    margin-left: 5px;
}

.deletebtn{
    position: absolute;
    right:85px;
}

.editbtn{
    position: absolute;
    right:10px
}

.list{
    margin-top: 20px;
    text-indent: 20px;
    margin-bottom: 10px;
    font-size: large;
    
}

.strike {
    text-decoration: line-through;
    color:rgb(148, 6, 11)
}

.strikebtn {
    position: absolute;
    right: 45px
}

.notadded {
    text-indent: 20px;
}